<!DOCTYPE html>
<html>
	<head>
		<title>Node Authentication</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<style>
			body 		{ padding-top:80px; }
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Autenticação</h1>
				<br>
				<a href="/login" class="btn btn-success"><span class="fa fa-user"></span>&nbsp;&nbsp;Login</a>
				<a href="/signup" class="btn btn-danger"><span class="fa fa-user"></span>&nbsp;&nbsp;New User</a>
			</div>
		</div>
	</body>
</html>