<!DOCTYPE html>
<html>
	<head>
		<title>Node Authentication</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<style>
			body 		{ padding-top:80px; word-wrap:break-word; }
		</style>
	</head>
	<body>
	<div class="container">
		<div class="page-header text-center">
			<h1>Perfil</h1>
			<a href="/logout" class="btn btn-danger btn-sm">Sair</a>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<% if (user.local.email) { %>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %>
					</p>
				<% } else { %>
					<a href="/connect/local" class="btn btn-success">Fazer Login</a>
				<% } %>
			</div>
		</div>
	</body>
</html>